
<main>
  <h1><%= title %></h1>

  <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
  
  <form action="/account/register" method="post">
    <label for="account_firstname">First Name</label>
    <input type="text" id="account_firstname" name="account_firstname" required 
      value="<%= typeof account_firstname != 'undefined' ? account_firstname : '' %>">

    <label for="account_lastname">Last Name</label>
    <input type="text" id="account_lastname" name="account_lastname" required 
      value="<%= typeof account_lastname != 'undefined' ? account_lastname : '' %>">

    <label for="account_email">Email</label>
    <input type="account_email" id="account_email" name="account_email" required 
      value="<%= typeof account_email != 'undefined' ? account_email : '' %>">

    <label for="account_password">Password</label>
    <input 
    type="password" 
    id="account_password" 
    name="account_password" 
    required
    minlength="12"
    pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{12,}$"
    title="Password must be at least 12 characters, include 1 uppercase letter, 1 number, and 1 special character.">
  

    <button type="submit">Register</button>
  </form>
</main>
